<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	 
	 <environments default="development">
		 <environment id="development">
			 <transactionManager type="JDBC"/>   <!-- type=JDBC表示使用最原始JDBC事务管理器 -->
			 <dataSource type="POOLED">
				 <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
				 <property name="url" value="jdbc:mysql://localhost:3306/tdd"/>
				 <property name="username" value="root"/>
				 <property name="password" value="root"/>
			 </dataSource>
		 </environment>
	 </environments>
	
	 <mappers>
	 	<mapper resource="mappers/PersonDao.xml"/>
	 </mappers>
	 						      
</configuration>

